{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ vrf.name }}</h1>

  <p><strong>Equipment:</strong> <a href="{{ vrf.equipment.get_absolute_url }}">{{ vrf.equipment }}</a> </p>
  <p><strong>Loopback:</strong> {{ vrf.loopback }}</p>
  <p><strong>Linknet:</strong> {{ vrf.linknet }}</p>

  <h2>VLANS:</h2>
    <a href="{% url 'vlan_create' %}">Nytt VLAN</a>
    {% if vrf.vlan_set.all %}
     <table class="table">
         {% for vlan in vrf.vlan_set.all %}
        <tr>
            <td>{{ vlan.name }} -
                <a href="{{ vlan.get_absolute_url }}/update">Endre</a> -
                <a href="{{ vlan.get_absolute_url }}/delete">Slett</a>
            </td>
            <td>VLAN{{ vlan.vlan_id }}</td>
            <td>{{ vlan.network_addr }}</td>
        </tr>

         {% endfor %}

    </table>
    {% else %}
        <p> Ingen VLAN er definert </p>
    {% endif %}
{% endblock %}